<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConfigTutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B6FB8F91FA67D950049C0D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6FB90D1FA67D950049C0D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6FB9181FA67D950049C0D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
